.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;

    &.is-open {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $white-text-color;
      text-align: center;
      padding: 60px 0;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;

    .list {
      display: flex;
    }
  }

  .menu-contacts {
    @media screen and (max-width: 767px) {
      margin-top: 60px;
    }
  }

  .link {
    color: $title-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.menu-nav {
  .current {
    position: relative;
    display: inline-block;
    color: $accent-color;
    padding-bottom: 8px;
  }

  @media screen and (max-width: 767px) {
    .item:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    .item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  .close-menu-burger {
    display: none;
  }

  &.is-open .close-menu-burger {
    display: block;
  }

  &.is-open .menu-burger {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
