.site-nav {
  display: flex;
  align-items: center;

  .list {
    display: flex;
  }

  .link {
    color: $title-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.menu-nav {
  min-height: 78px;
  padding-top: 32px;

  .item {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
