.mailing {
  .title-list {
    display: inline-block;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 100%;
    }
  }

  .email {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding: 15px 0 15px 15px;
    width: 100%;
    margin-bottom: 30px;

    color: rgba(255, 255, 255, 0.6);

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-right: 12px;
      margin-bottom: 0;
    }
  }
  .button-mailing {
    display: inline-flex;
    align-items: center;

    &::after {
      content: " ";
      width: 24px;
      height: 24px;
      margin-left: 10px;
      background-image: url(../images/studio/icon-send.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
