.site-header .contact {
  // display: flex;
  // margin-left: auto;
  text-align: center;
}

.menu-contacts {
  .item:not(:last-child) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    .item:not(:last-child) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1200px) {
      .item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 50px;
      }
    }
  }

  .contact {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $primary-text-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &:hover .icon-header,
    &:focus .icon-header {
      fill: $accent-color;
    }
  }

  .icon-header {
    fill: $primary-text-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 10px;
  }
}

.current::after {
  position: absolute;
  content: " ";
  bottom: -8px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $accent-color;

  @media screen and (min-width: 768px) {
    bottom: -32px;
  }
}
