.hero {
  background-color: rgba(47, 48, 58, 0.4);
  letter-spacing: 0.06em;
  text-align: center;

  max-width: 1600px;

  padding: 200px 0;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/hero_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .title-hero {
    color: $white-text-color;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin: 0 0 30px;
  }
}
