.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .item:not(:last-child) {
    margin-right: 8px;
  }
}

.work-list {
  display: flex;
  flex-wrap: wrap;

  .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    outline: 1px solid #eeeeee;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }

    &:hover .portfolio-description,
    &:focus .portfolio-description {
      transform: translateY(0);
    }
  }

  .link:focus .portfolio-description {
    transform: translateY(0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  .description {
    padding: 0 24px 20px;
  }

  .title-list-portfolio {
    margin-top: 20px;
    margin-bottom: 4px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  .title-description {
    margin: 0;
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.87;
  }

  .img-portfolio {
    position: relative;
    overflow: hidden;
  }

  .portfolio-description {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(101%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    color: $white-text-color;
    font-size: 18px;
    line-height: 1.55;
  }
}
