.team {
  background-color: #f5f4fa;

  .title-team {
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin: 30px 0 0;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    width: calc((100% - 90px) / 4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    margin-right: 30px;
    background-color: $white-text-color;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .description {
    padding: 0 32px 24px;
    text-align: center;
  }

  .social-link:not(:last-child) {
    margin-right: 10px;
  }

  .team-description {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
  }

  .icon-team {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
  }

  .link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $primary-text-color;
    line-height: 1.2;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }

    &:hover .icon-team,
    &:focus .icon-team {
      fill: $white-text-color;
    }
  }
}
