.profile {
  padding-bottom: 94px;

  .list {
    display: flex;
  }

  .item {
    position: relative;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  .title-list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    margin: 0;
    color: $white-text-color;
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 82px;
  }
  img {
    display: block;
  }
}
